
*.$manifest
*.a
*.apk
*.bpi
*.bpl
*.cgi
*.cgl
*.csm
*.d
*.dSYM
*.dcp
*.dct
*.dcu
*.drc
*.dres
*.dsk
*.dst
*.dylib
*.dylib.rsm
*.entitlements
*.exe
*.exe.incr
*.fb8lck
*.fbl8
*.fbpInf
*.fbpbrk
*.fsf
*.groupproj
*.i
.idea
*.identcache
*.ilc
*.ild
*.ilf
*.ilr
*.ils
*.info.plist
*.ini
*.ipa
*.lib
*.local
*.log
*.map
*.nfn
*.o
*.ocx
*.orig
*.pch
*.pdi
*.plist
*.profile
*.rc
*.res
*.rps
*.rsm
*.sdk
*.so
*.stat
*.tds
*.tmp
*.tmx
*.tvsconfig
*.vlb
*.vrc
*.~*
__history/*
__recovery/
__recovery/*
bin/
lib/
WebSocket/Server/Win32/Debug/*
